doctype html
html(lang="en")
  head
    title Food Chasseur
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
    link(rel="stylesheet", href="styles/style.css")
  body
    #header
        font(color="#00AAA0", size="40") Food Hunter
        a(href="/restaurants/add", class='button1') Register My Restaurant
    #sidebar
        form(action="/restaurants/list" autocomplete="off")
            .form-group
                input.form-control(type="text1", name="usrfoodchoice", id="usrfoodchoice", placeholder="Choice of Food", required)
            .form-group
                input.form-control(type="text2", name="usrfoodlocation", id="usrfoodlocation", placeholder="Choice of Location", required)
            .form-group
                button.button2(type="submit") SEARCH

    block content
