doctype html
html(lang="en")
  head
    title restaurant - Node.js on Google Cloud Platform
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
    link(rel="stylesheet", href="styles/style.css")
  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand restaurant

        ul.nav.navbar-nav
          li
            a(href="/restaurant") restaurant

    .container
      block content
