extends ../base.pug

block content
    div
        table
            thead
                tr: th Restaurant Name
                    th Restaurant Category
                    th Restaurant Address
                    th Restaurant Telephone Number
            tbody
                each restaurant in restaurants
                    tr
                        td
                            .media
                                a(href=`/restaurants/${restaurant.id}`)
                                    .media-body
                                        h5= restaurant.name
                        td
                            p= restaurant.category

                if !restaurants.length
                  p No restaurants found.

                if nextPageToken
                  nav
                    ul.pager
                      li
                        a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More
