extends ../base.pug

block content
  h3 restaurants

  a(href="/restaurants/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add restaurant

  each restaurant in restaurants
    .media
      a(href=`/restaurants/${restaurant.id}`)
        .media-body
          h4= restaurant.name
          p= restaurant.category

  if !restaurants.length
    p No restaurants found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More
